<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168237151453-5ce7pd78qrnstor15ifvffgq0aucs36k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168237151453-5ce7pd78qrnstor15ifvffgq0aucs36k</string>
	<key>API_KEY</key>
	<string>AIzaSyDprsYVrjl4LbhguqMaOfRScLCUSQPZl_c</string>
	<key>GCM_SENDER_ID</key>
	<string>168237151453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>onurBostan.bossia</string>
	<key>PROJECT_ID</key>
	<string>bossia-6a037</string>
	<key>STORAGE_BUCKET</key>
	<string>bossia-6a037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:168237151453:ios:914bcca384dd4c885e1734</string>
</dict>
</plist>
